{% extends "base.html" %}
{% block title %}Apply for Leave - Faculty Leave Management{% endblock %}
{% block content %}
<div class="card" style="margin-left: 30px; margin-top: 100px;">
    <div class="card-header">
        <h4>Change Password</h4>
    </div>
    <div class="card-body">
        {% with messages = get_flashed_messages() %}
        {% if messages.type == success %}
        {% for message in messages %}
        <div class="error">{{ message }}</div>
        {% endfor %}
        {% elif messages.type == error %}
        {% for message in messages %}
        <div class="pass">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <form method="POST">
            <div>
                <label for="current_password" class="form-label">Current Password</label>
                <input type="password" class="form-control" id="current_password" name="current_password" required>
            </div><br>
            <div>
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
            </div><br>
            <div>
                <label for="confirm_password" class="form-label">Confirm New Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
            </div><br>
            <button type="submit" class="change-btn">Change Password</button>
            <a href="{{ url_for('profile') }}" class="logout-btn">Cancel</a>
        </form>
    </div>
</div>
{% endblock %}