{% extends "base.html" %}

{% block title %}Holiday Calendar - Faculty Leave Management{% endblock %}

{% block content %}
<div class="history-container" style="max-width:800px;">
  <h2>📅 Holiday Calendar</h2>

  {% if holidays %}
    <div class="table-wrapper">
      <table class="history-table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Holiday</th>
          </tr>
        </thead>
        <tbody>
          {% for h in holidays %}
            <tr>
              <td>{{ h[1] }}</td>
              <td>{{ h[2] }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="no-records">
      <p>No holidays added.</p>
    </div>
  {% endif %}
</div>


{% endblock %}
